html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  margin: 0;
  padding: 0;
  color: #686868; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: outside none none; }

q::before, q::after, blockquote::before, blockquote::after {
  content: ""; }

.clearfix {
  clear: both; }

/* clear outter dotted */
button::-moz-focus-inner {
  border: 0; }

button:focus {
  outline: none; }

a:active {
  outline: none;
  color: #686868; }

a:focus {
  -moz-outline-style: none;
  outline: none; }

a {
  outline: 0;
  color: #686868;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; }

a:hover, a:focus, a:active {
  text-decoration: none; }

/*clear float*/
.clear::before, .clear::after {
  content: "";
  display: table; }

.clear::after {
  clear: both; }

.clear {
  zoom: 1;
  /*IE6, IE7*/ }

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1em; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;
  z-index: 2000;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.pace.pace-inactive .pace-progress {
  display: none; }

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 6rem;
  width: 6rem !important;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  background: #cb5237;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;
  -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
  -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
  -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
  -o-animation: pace-theme-center-circle-spin linear infinite 2s;
  animation: pace-theme-center-circle-spin linear infinite 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block; }

@-webkit-keyframes pace-theme-center-circle-spin {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }
@-moz-keyframes pace-theme-center-circle-spin {
  from {
    -moz-transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(360deg); } }
@-ms-keyframes pace-theme-center-circle-spin {
  from {
    -ms-transform: rotateY(0deg); }
  to {
    -ms-transform: rotateY(360deg); } }
@-o-keyframes pace-theme-center-circle-spin {
  from {
    -o-transform: rotateY(0deg); }
  to {
    -o-transform: rotateY(360deg); } }
@keyframes pace-theme-center-circle-spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
/*FONTS.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2013 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM FONTS ARE DEFINED HERE VIA CSS3 FONT-FACE TECHNOLOGY*/
/* More info : http://www.littleboxofideas.com/blog/tutorials/how-do-i-implement-font-face */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------*/
/* Font: Open Sans Family */
/* Source: Google Web Fonts Library */
/* License Type: GPL */
/*--------------------------------------------------------*/
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansLightItalic";
  src: url("../fonts/OpenSans/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#webfont") format("svg"); }
/*--------------------------------------------------------*/
/* Font: Nexa Free Family */
/* Source: Fontfabric */
/* License Type: GPL */
/*--------------------------------------------------------*/
@font-face {
  font-family: "NexaBold";
  src: url("../fonts/Nexa/nexa_bold-webfont.eot");
  src: url("../fonts/Nexa/nexa_bold-webfont.woff") format("woff"), url("../fonts/Nexa/nexa_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/nexa_bold-webfont.ttf") format("truetype"), url("../fonts/Nexa/nexa_bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "NexaLight";
  src: url("../fonts/Nexa/nexa_light-webfont.eot");
  src: url("../fonts/Nexa/nexa_light-webfont.woff") format("woff"), url("../fonts/Nexa/nexa_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/nexa_light-webfont.ttf") format("truetype"), url("../fonts/Nexa/nexa_light-webfont.svg#webfont") format("svg"); }
/* --------------------------------

      header

-------------------------------- */
#masthead {
  min-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 5px 15px;
  z-index: 9;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #fff;
  box-shadow: 0 1px 3px #999; }
  #masthead .logo {
    float: right;
    color: #fff;
    font-family: "NexaBold";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.15em;
    line-height: 30px;
    text-transform: uppercase;
    margin: 10px 0 5px; }

/*SLIDINGMENU.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This CSS file contains style rules for Sliding Menu*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2013 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.menu {
  position: fixed;
  left: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left; }

.menu.menu-open {
  left: 0px; }

.sm-wrap {
  position: absolute;
  top: 0;
  right: 60px;
  background: #1E1F21;
  width: 200px;
  height: 100%; }

.menu h1.sm-logo {
  font-family: "NexaBold";
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  margin: 20px 10px; }

.menu img.sm-logo {
  margin: 20px 0;
  max-width: 160px; }

.menu a {
  margin: 0px;
  margin-bottom: 2px;
  color: #777;
  display: block;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 23px;
  font-family: "OpenSansLight";
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: uppercase; }

.menu a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #cb5237;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.menu a:active {
  color: #ffffff; }

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

/* Push the body after clicking the menu button */
.sliding {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.sliding-toright {
  left: 200px; }

.sliding-toleft {
  left: -200px; }

.menu,
.sliding {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

#sm-trigger {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5) url("../images/menu.png") center center;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

#sm-trigger:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9) url("../images/menu.png") center center;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

#room {
  padding-top: 90px; }

.footer {
  background: #303133;
  padding: 40px 0;
  color: #d8e4e9; }

footer {
  background: #28292b;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }
  footer.mastfoot {
    padding: 40px; }
  footer h3 {
    padding: 0;
    margin: 0; }
  footer .footer-social {
    list-style: none;
    padding: 0;
    margin: 0; }
  footer .footer-social li > a > img {
    width: 50px;
    opacity: 0.3;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; }
  footer .footer-social li {
    display: inline-block; }
  footer .credits {
    margin-top: 20px; }

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  body #page {
    opacity: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; }
  body.pace-done #page {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
