@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: outside none none; }

q::before, q::after, blockquote::before, blockquote::after {
  content: ""; }

.clearfix {
  clear: both; }

/* clear outter dotted */
button::-moz-focus-inner {
  border: 0; }

button:focus {
  outline: none; }

a:active {
  outline: none;
  color: #686868; }

a:focus {
  -moz-outline-style: none;
  outline: none;
  text-decoration: none; }

a {
  outline: 0;
  color: #686868;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  text-decoration: none; }

/*clear float*/
.clear::before, .clear::after {
  content: "";
  display: table; }

.clear::after {
  clear: both; }

.clear {
  zoom: 1;
  /*IE6, IE7*/ }

.clearfix {
  clear: both; }

.tc {
  text-align: center; }

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1em; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;
  z-index: 2000;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.pace.pace-inactive .pace-progress {
  display: none; }

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 6rem;
  width: 6rem !important;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  background: #cb5237;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;
  -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
  -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
  -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
  -o-animation: pace-theme-center-circle-spin linear infinite 2s;
  animation: pace-theme-center-circle-spin linear infinite 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block; }

@-webkit-keyframes pace-theme-center-circle-spin {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }
@-moz-keyframes pace-theme-center-circle-spin {
  from {
    -moz-transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(360deg); } }
@-ms-keyframes pace-theme-center-circle-spin {
  from {
    -ms-transform: rotateY(0deg); }
  to {
    -ms-transform: rotateY(360deg); } }
@-o-keyframes pace-theme-center-circle-spin {
  from {
    -o-transform: rotateY(0deg); }
  to {
    -o-transform: rotateY(360deg); } }
@keyframes pace-theme-center-circle-spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
/*FONTS.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2013 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM FONTS ARE DEFINED HERE VIA CSS3 FONT-FACE TECHNOLOGY*/
/* More info : http://www.littleboxofideas.com/blog/tutorials/how-do-i-implement-font-face */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------*/
/* Font: Open Sans Family */
/* Source: Google Web Fonts Library */
/* License Type: GPL */
/*--------------------------------------------------------*/
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "OpenSansLightItalic";
  src: url("../fonts/OpenSans/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#webfont") format("svg"); }
/*--------------------------------------------------------*/
/* Font: Nexa Free Family */
/* Source: Fontfabric */
/* License Type: GPL */
/*--------------------------------------------------------*/
@font-face {
  font-family: "NexaBold";
  src: url("../fonts/Nexa/nexa_bold-webfont.eot");
  src: url("../fonts/Nexa/nexa_bold-webfont.woff") format("woff"), url("../fonts/Nexa/nexa_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/nexa_bold-webfont.ttf") format("truetype"), url("../fonts/Nexa/nexa_bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: "NexaLight";
  src: url("../fonts/Nexa/nexa_light-webfont.eot");
  src: url("../fonts/Nexa/nexa_light-webfont.woff") format("woff"), url("../fonts/Nexa/nexa_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa/nexa_light-webfont.ttf") format("truetype"), url("../fonts/Nexa/nexa_light-webfont.svg#webfont") format("svg"); }
/* --------------------------------

      header

-------------------------------- */
#masthead {
  min-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 5px 15px;
  z-index: 9;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #fff;
  box-shadow: 0 1px 3px #999; }
  #masthead .logo {
    float: right;
    color: #fff;
    font-family: "NexaBold";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.15em;
    line-height: 30px;
    text-transform: uppercase;
    margin: 10px 0 5px; }

/*SLIDINGMENU.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This CSS file contains style rules for Sliding Menu*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2013 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.menu {
  position: fixed;
  left: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left; }

.menu.menu-open {
  left: 0px; }

.sm-wrap {
  position: absolute;
  top: 0;
  right: 60px;
  background: #1E1F21;
  width: 200px;
  height: 100%; }

.menu h1.sm-logo {
  font-family: "NexaBold";
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  margin: 20px 10px; }

.menu img.sm-logo {
  margin: 20px 0;
  max-width: 160px; }

.menu a {
  margin: 0px;
  margin-bottom: 2px;
  color: #777;
  display: block;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 23px;
  font-family: "OpenSansLight";
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: uppercase; }

.menu a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #cb5237;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.menu a:active {
  color: #ffffff; }

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

/* Push the body after clicking the menu button */
.sliding {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.sliding-toright {
  left: 200px; }

.sliding-toleft {
  left: -200px; }

.menu,
.sliding {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

#sm-trigger {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5) url("../images/menu.png") center center;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

#sm-trigger:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9) url("../images/menu.png") center center;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

#room {
  padding-top: 90px;
  /*
  *   room_equip
  */
  /*
  *   room_tab
  */
  /*
  *   room_fun
  */
  /*
  *   room_related
  */ }
  #room .room_equip {
    margin-bottom: 50px; }
    #room .room_equip .item {
      padding: 10px;
      font-size: 13px;
      color: #828182; }
      #room .room_equip .item i {
        margin-right: 10px; }
  #room .room_tab {
    margin-bottom: 70px; }
    #room .room_tab .tabs-left > .nav-tabs > li,
    #room .room_tab .tabs-right > .nav-tabs > li {
      float: none; }
    #room .room_tab .tabs-left > .nav-tabs > li > a,
    #room .room_tab .tabs-right > .nav-tabs > li > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px; }
    #room .room_tab .tabs-left > .nav-tabs {
      float: left;
      margin-right: 19px;
      border-right: 1px solid #ddd; }
    #room .room_tab .tabs-left > .nav-tabs > li > a {
      margin-right: -1px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px; }
    #room .room_tab .tabs-left > .nav-tabs > li > a:hover,
    #room .room_tab .tabs-left > .nav-tabs > li > a:focus {
      border-color: #eeeeee #dddddd #eeeeee #eeeeee; }
    #room .room_tab .tabs-left > .nav-tabs .active > a,
    #room .room_tab .tabs-left > .nav-tabs .active > a:hover,
    #room .room_tab .tabs-left > .nav-tabs .active > a:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #ffffff; }
  #room .room_fun {
    margin-bottom: 50px; }
    #room .room_fun .item_outter {
      display: inline-block;
      margin-bottom: 20px; }
      #room .room_fun .item_outter h3 {
        font-size: 14px;
        color: #a39a93;
        margin-top: 15px; }
      #room .room_fun .item_outter a.item {
        display: block;
        border: 5px solid #a39a93;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0 1px 1px #444;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear; }
        #room .room_fun .item_outter a.item i {
          color: #a39a93;
          font-size: 40px;
          -webkit-transition: all .1s linear;
          -moz-transition: all .1s linear;
          -ms-transition: all .1s linear;
          -o-transition: all .1s linear;
          transition: all .1s linear;
          text-shadow: 0 1px 1px #333; }
      #room .room_fun .item_outter a.item:hover {
        height: 83px;
        width: 83px; }
        #room .room_fun .item_outter a.item:hover i {
          font-size: 43px; }
  #room .room_related {
    margin-bottom: 70px; }
    #room .room_related .wdr_owl_carousel a, #room .room_related .wdr_owl_carousel img {
      display: block; }
    #room .room_related .wdr_owl_carousel h3 {
      font-size: 18px;
      margin-bottom: 4px; }
    #room .room_related .wdr_owl_carousel a.more {
      opacity: 0.6;
      padding: 5px 0;
      font-size: 15px; }
    #room .room_related .wdr_owl_carousel img {
      width: auto; }
    #room .room_related .wdr_owl_carousel a.more:hover {
      opacity: 0.9;
      text-decoration: none; }

#restaurant {
  padding-top: 100px;
  /*
  *   room_equip
  */
  /*
   * feature_img
   */
  /*
   *   room_fun
   */ }
  #restaurant .title_sep {
    background: #cb5237;
    margin: 20px auto 30px;
    height: 12px;
    width: 80px; }
  #restaurant .room_equip {
    margin-bottom: 50px; }
    #restaurant .room_equip .item {
      padding: 10px;
      font-size: 13px;
      color: #828182; }
      #restaurant .room_equip .item i {
        margin-right: 10px; }
  #restaurant .feature_img {
    padding-top: 10px; }
    #restaurant .feature_img img {
      display: block;
      margin: 0 auto 30px; }
    #restaurant .feature_img .desc {
      line-height: 2em;
      letter-spacing: 1px;
      font-size: 16px; }
  #restaurant .room_fun {
    margin-bottom: 50px; }
    #restaurant .room_fun .item_outter {
      display: inline-block;
      margin-bottom: 20px; }
      #restaurant .room_fun .item_outter h3 {
        font-size: 14px;
        color: #a39a93;
        margin-top: 15px; }
      #restaurant .room_fun .item_outter a.item {
        display: block;
        border: 5px solid #a39a93;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0 1px 1px #444;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear; }
        #restaurant .room_fun .item_outter a.item i {
          color: #a39a93;
          font-size: 40px;
          -webkit-transition: all .1s linear;
          -moz-transition: all .1s linear;
          -ms-transition: all .1s linear;
          -o-transition: all .1s linear;
          transition: all .1s linear;
          text-shadow: 0 1px 1px #333; }
      #restaurant .room_fun .item_outter a.item:hover {
        height: 83px;
        width: 83px; }
        #restaurant .room_fun .item_outter a.item:hover i {
          font-size: 43px; }

.footer {
  background: #303133;
  padding: 40px 0; }
  .footer .container {
    max-width: 990px; }
  .footer div {
    color: #d8e4e9;
    letter-spacing: 1px; }
  .footer .tel {
    font-size: 18px;
    color: #fff; }
  .footer .address {
    font-size: 14px;
    margin-bottom: 10px; }
  .footer .weather {
    font-size: 14px;
    margin-bottom: 10px; }
  .footer ul.lang {
    display: block; }
    .footer ul.lang li {
      float: left; }
      .footer ul.lang li a {
        color: #d8e4e9;
        font-size: 18px; }
    .footer ul.lang li:before {
      content: " | ";
      padding: 0 5px 0 7px;
      color: #d8e4e9; }
    .footer ul.lang li:first-child:before {
      content: ""; }

footer {
  background: #28292b;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }
  footer .container {
    max-width: 990px; }
  footer.mastfoot {
    padding: 40px; }
  footer h3.logo {
    padding: 0;
    margin: 0; }
    footer h3.logo img {
      width: 150px; }
  footer .footer-social {
    list-style: none;
    padding: 0;
    margin: 0; }
  footer .footer-social li > a > img {
    width: 50px;
    opacity: 0.3;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; }
  footer .footer-social li {
    display: inline-block; }
    footer .footer-social li a:hover {
      color: #fff; }
  footer .credits {
    margin-top: 20px;
    color: #67696a; }

/*
*   es_title
*/
.es_title {
  padding-top: 50px; }
  .es_title h2 {
    margin: 0;
    font-size: 36px; }
  .es_title .desc {
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 1px; }
  .es_title .title_sep {
    background: #cb5237;
    margin: 20px auto 30px;
    height: 12px;
    width: 80px; }

.es_btn {
  padding: 13px 25px;
  background: #5f5c12;
  color: #fff;
  width: 140px;
  margin: 10px auto;
  display: block;
  letter-spacing: 2px;
  font-size: 13px;
  text-align: center; }

.es_btn:hover {
  background: #4a3929;
  color: #fff; }

.es_btn:active {
  box-shadow: 0 0 15px #111 inset; }

.info-desc {
  max-width: 840px;
  margin: 50px auto 50px; }
  .info-desc ul li {
    font-size: 19px;
    border-top: 1px solid #a3a3a3;
    padding: 40px 0;
    letter-spacing: 1px; }

/*
*   dep_dotted
*/
.dep_dotted {
  background: url(../images/sep_dot.gif) no-repeat center bottom;
  height: 45px;
  margin-bottom: 20px; }

.dep_dotted_g {
  background: url(../images/sep_dot_g.jpg) no-repeat center bottom;
  height: 45px;
  margin-bottom: 20px; }

#news {
  padding-top: 120px;
  max-width: 990px; }
  #news article.blog-post {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 30px;
    padding: 0  0 30px; }
  #news h3.main-heading {
    margin-bottom: 30px; }
  #news .bolg-meta {
    margin-bottom: 20px;
    font-size: 13px; }
  #news .summary {
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 13px; }
  #news .featured-image {
    border: 3px solid #EEE;
    display: block;
    border: 3px solid #EEE;
    max-width: 705px !important;
    overflow: hidden; }
    #news .featured-image img {
      display: block;
      width: 100%;
      transition: all 1.25s ease;
      -moz-transition: all 1.25s ease;
      -webkit-transition: all 1.25s ease;
      -o-transition: all 1.25s ease;
      -ms-transition: all 1.25s ease; }
    #news .featured-image:hover img {
      opacity: .7;
      filter: alpha(opacity=70);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  #news a.more {
    font-size: 13px;
    padding: 10px 15px;
    border: 1px solid #888888;
    display: inline-block; }
  #news a.more:hover {
    background: #888888;
    color: #fff; }
  #news .sidebar #searchform input[type="text"] {
    border-radius: 0px;
    border: 1px solid #cb5237 !important;
    color: #cb5237 !important;
    font-family: "OpenSansLight";
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    padding: 11px 10px;
    width: 60%;
    box-shadow: none !important;
    float: left; }
  #news .sidebar #searchsubmit {
    background: #cb5237;
    color: #fff;
    height: 51px;
    margin-left: 5px;
    width: 100px;
    text-align: center;
    border: 0px;
    float: left; }
  #news .sidebar #searchsubmit:active {
    box-shadow: inset 0 0 15px #6f2a1b; }
  #news .sidebar .screen-reader-text {
    display: none; }
  #news .sidebar .sub-heading {
    padding-bottom: 5px !important;
    margin-bottom: 10px !important;
    margin-top: 25px;
    font-size: 26px;
    line-height: 33px;
    color: #cb5237;
    font-weight: 200; }
  #news .sidebar ul li {
    color: #000;
    list-style: square inside;
    border-bottom: #CCC solid 1px;
    padding-bottom: 10px;
    margin-bottom: 10px; }

#home_onepage {
  padding-top: 90px;
  /*
  *   wdr_homeslider
  *
  *   首頁 - 料理飲宴
  *
  */
  /*
  *   客房居所
  *
  */ }
  #home_onepage section {
    padding: 50px 0; }
  #home_onepage #home_top .slogan {
    margin-bottom: 50px; }
    #home_onepage #home_top .slogan h3 {
      color: #a39a93;
      font-size: 50px; }
  #home_onepage #home_top .subtitle {
    font-size: 36px;
    margin-bottom: 150px; }
  #home_onepage #home_top .hometop_slider {
    margin-bottom: 50px; }
    #home_onepage #home_top .hometop_slider .col-sm-1 {
      padding: 0; }
    #home_onepage #home_top .hometop_slider img {
      width: 100%; }
  #home_onepage #home_tab.wdr_bkimg_outter {
    height: auto; }
    #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg {
      background: url(../images/onepage/bookwall3.jpg) no-repeat center center;
      height: auto;
      position: relative;
      background-size: cover;
      padding: 40px 0; }
      #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .es_title h2, #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .es_title .desc {
        color: #fff; }
      #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab {
        padding: 40px 0 40px;
        margin: auto;
        max-width: 900px; }
        #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab {
          text-align: center; }
          #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab.active .pointer {
            margin-bottom: -80px; }
          #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab .pointer {
            -moz-transition-duration: .3s;
            -o-transition-duration: .3s;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #cb5237;
            position: absolute;
            bottom: 0;
            margin-left: -15px;
            margin-bottom: -120px; }
          #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab > div {
            margin: auto;
            display: inline-block; }
          #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab a {
            border: 12px solid #a39a93;
            height: 130px;
            width: 130px;
            border-radius: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
            #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab a i {
              color: #a39a93;
              font-size: 60px; }
          #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab div.tab h3 {
            color: #a39a93;
            font-size: 18px;
            text-align: center; }
        #home_onepage #home_tab.wdr_bkimg_outter .wdr_bkimg .box_tab .nav-tabs {
          border-bottom: 0px; }
    #home_onepage #home_tab.wdr_bkimg_outter .box_tab_content {
      background: #cb5237;
      padding: 60px 40px;
      color: #fff; }
      #home_onepage #home_tab.wdr_bkimg_outter .box_tab_content .owl-controls {
        display: none !important; }
      #home_onepage #home_tab.wdr_bkimg_outter .box_tab_content p {
        color: #fff;
        line-height: 1.8em;
        margin-bottom: 0; }
  #home_onepage #home_isotope .filter-button-group {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center; }
    #home_onepage #home_isotope .filter-button-group button.active {
      color: #fff;
      border: 1px solid #ca5237;
      background: #ca5237; }
    #home_onepage #home_isotope .filter-button-group button {
      background: none;
      border: 1px solid #888;
      padding: 10px 15px;
      color: #888; }
  #home_onepage #home_activity {
    height: 370px; }
    #home_onepage #home_activity .wdr_bkimg {
      background: url(../images/onepage/bk3.jpg) no-repeat top fixed;
      height: 320px;
      background-size: cover; }
    #home_onepage #home_activity .es_title {
      color: #fff;
      margin-bottom: 50px; }
    #home_onepage #home_activity .item_outter {
      display: inline-block;
      margin-bottom: 20px; }
      #home_onepage #home_activity .item_outter h3 {
        font-size: 14px;
        color: #fff;
        text-shadow: 0 1px 3px #333;
        margin-top: 15px; }
      #home_onepage #home_activity .item_outter a.item {
        display: block;
        border: 5px solid #a39a93;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0 1px 1px #444;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear; }
        #home_onepage #home_activity .item_outter a.item i {
          color: #a39a93;
          font-size: 40px;
          -webkit-transition: all .1s linear;
          -moz-transition: all .1s linear;
          -ms-transition: all .1s linear;
          -o-transition: all .1s linear;
          transition: all .1s linear;
          text-shadow: 0 1px 1px #333; }
      #home_onepage #home_activity .item_outter a.item:hover {
        height: 83px;
        width: 83px; }
        #home_onepage #home_activity .item_outter a.item:hover i {
          font-size: 43px; }
  #home_onepage #home_restaurant .dep_dotted {
    margin-bottom: 40px; }
  #home_onepage #wdr_homeslider {
    max-width: 980px;
    margin: 40px auto  50px;
    text-align: center; }
    #home_onepage #wdr_homeslider .slide {
      color: #968d86;
      background: #eee;
      border-bottom: 7px solid #cb5237;
      width: 220px;
      margin: auto; }
      #home_onepage #wdr_homeslider .slide h3 {
        margin-top: 50px; }
      #home_onepage #wdr_homeslider .slide h4 {
        font-size: 13px;
        margin: 20px;
        font-weight: normal; }
      #home_onepage #wdr_homeslider .slide a, #home_onepage #wdr_homeslider .slide img {
        display: block; }
      #home_onepage #wdr_homeslider .slide img {
        width: 100%; }
      #home_onepage #wdr_homeslider .slide .subtitle {
        color: #968d86;
        font-weight: bold; }
      #home_onepage #wdr_homeslider .slide .desc {
        font-size: 13px;
        text-align: left;
        margin: 20px 18px;
        color: #968d86;
        line-height: 1.5em;
        letter-spacing: 1px;
        height: 7.5em;
        overflow: hidden; }
        #home_onepage #wdr_homeslider .slide .desc a {
          color: #968d86;
          display: inline;
          border-bottom: 1px solid  #cb5237; }
      #home_onepage #wdr_homeslider .slide .sep_red {
        height: 6px;
        background: #cb5237;
        width: 50px;
        margin: 10px auto 20px; }
      #home_onepage #wdr_homeslider .slide .floor {
        border: 1px solid #000;
        padding: 6px 30px;
        display: inline-block; }
      #home_onepage #wdr_homeslider .slide .btns {
        text-align: center;
        padding-top: 20px; }
        #home_onepage #wdr_homeslider .slide .btns ul {
          display: inline-block; }
          #home_onepage #wdr_homeslider .slide .btns ul li {
            float: left;
            margin-right: 10px; }
            #home_onepage #wdr_homeslider .slide .btns ul li a {
              border: 3px solid #a39a93;
              height: 45px;
              width: 45px;
              border-radius: 100%;
              display: table-cell;
              vertical-align: middle; }
              #home_onepage #wdr_homeslider .slide .btns ul li a i {
                color: #a39a93;
                font-size: 20px; }
  #home_onepage #home_room #room_accordion {
    max-width: 980px;
    margin: 30px auto 50px; }
    #home_onepage #home_room #room_accordion .panel {
      margin-top: 0px;
      border-radius: 0;
      border-top: 0px; }
    #home_onepage #home_room #room_accordion .panel:first-child {
      border-top: 1px solid #ddd; }
    #home_onepage #home_room #room_accordion .panel-body img {
      width: 100%; }
    #home_onepage #home_room #room_accordion .panel-body .owl-controls {
      position: absolute;
      left: 45%;
      bottom: 10px; }
      #home_onepage #home_room #room_accordion .panel-body .owl-controls .owl-page span {
        height: 8px;
        width: 8px; }
    #home_onepage #home_room #room_accordion .panel-body .room_desc {
      color: #a39a93;
      line-height: 2em;
      margin-bottom: 20px; }
    #home_onepage #home_room #room_accordion .panel-body a.more {
      color: #a39a93;
      border: 1px solid #a39a93;
      padding: 5px 12px;
      display: inline-block; }
    #home_onepage #home_room #room_accordion .panel-body .room_link {
      margin: 60px 0 0 0px; }
      #home_onepage #home_room #room_accordion .panel-body .room_link .pull-left {
        margin-right: 10px; }
    #home_onepage #home_room #room_accordion .panel-body .item_outter {
      display: inline-block;
      margin-bottom: 20px; }
      #home_onepage #home_room #room_accordion .panel-body .item_outter h3 {
        font-size: 13px;
        color: #a39a93;
        margin-top: 10px; }
      #home_onepage #home_room #room_accordion .panel-body .item_outter a.item {
        display: block;
        border: 5px solid #a39a93;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0 1px 1px #444;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear; }
        #home_onepage #home_room #room_accordion .panel-body .item_outter a.item i {
          color: #a39a93;
          font-size: 23px;
          -webkit-transition: all .1s linear;
          -moz-transition: all .1s linear;
          -ms-transition: all .1s linear;
          -o-transition: all .1s linear;
          transition: all .1s linear;
          text-shadow: 0 1px 1px #333; }
  #home_onepage #home_textslider.wdr_bkimg_outter {
    height: auto;
    padding-bottom: 0; }
    #home_onepage #home_textslider.wdr_bkimg_outter .wdr_bkimg {
      background: url(../images/onepage/bk2.jpg) no-repeat center fixed;
      background-size: cover;
      height: auto;
      position: relative; }
      #home_onepage #home_textslider.wdr_bkimg_outter .wdr_bkimg .desc {
        padding: 70px 0  50px;
        background: rgba(255, 255, 255, 0.7);
        height: 100%; }
  #home_onepage #wdr_oneslider {
    margin: auto;
    text-align: center;
    color: #000; }
    #home_onepage #wdr_oneslider .slide h3 {
      color: #000;
      font-size: 14px; }
    #home_onepage #wdr_oneslider .slide .sep_red_l {
      margin: 10px auto 20px; }
    #home_onepage #wdr_oneslider .slide .subtitle {
      line-height: 1.7em;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    #home_onepage #wdr_oneslider .slide .date {
      letter-spacing: 2px; }
    #home_onepage #wdr_oneslider .slide img {
      width: auto;
      display: block;
      margin: auto; }
  #home_onepage .wdr_bkimg_outter {
    height: 580px;
    width: 100%; }
    #home_onepage .wdr_bkimg_outter .wdr_bkimg {
      background: url(../images/onepage/bk1.jpg) no-repeat center center;
      background-size: cover;
      height: 580px;
      left: 0;
      width: 100%;
      position: absolute; }
  #home_onepage .contactus {
    background: #3e4042; }
    #home_onepage .contactus .es_title {
      padding-top: 50px; }
      #home_onepage .contactus .es_title h2 {
        margin: 0;
        font-size: 36px;
        color: #fff; }
      #home_onepage .contactus .es_title .desc {
        font-size: 20px;
        line-height: 2em;
        letter-spacing: 1px;
        color: #9b9b9b; }
    #home_onepage .contactus .contact_form {
      max-width: 990px;
      padding-top: 50px; }
      #home_onepage .contactus .contact_form input[type="text"] {
        display: block;
        background: none;
        border: 2px solid #9b9b9b;
        padding: 10px 15px;
        font-size: 18px;
        margin-bottom: 30px;
        color: #fff;
        width: 100%; }
      #home_onepage .contactus .contact_form textarea {
        background: none;
        border: 2px solid #9b9b9b;
        color: #fff;
        padding: 15px;
        height: 127px;
        width: 100%; }
      #home_onepage .contactus .contact_form button.submit {
        border-radius: 100%;
        background: none;
        color: #9b9b9b;
        height: 100px;
        width: 100px;
        border: 2px solid #9b9b9b; }

body {
  overflow-x: hidden;
  font-family: "微軟正黑體",Helvetica Neue,Helvetica,Arial; }
  body #page {
    opacity: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear; }
  body.pace-done #page {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
