/* Chrome, Safari, Opera */
@-webkit-keyframes box_info {
  0%   {bottom: -70px;}
  100% {bottom: 0px;}
}

/* Standard syntax */
@keyframes box_info{
  0%   {bottom: -70px;}
  100% {bottom: 0px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes off_info {
  0%   {bottom: 0px;}
  100% {bottom: -70px;}
}

/* Standard syntax */
@keyframes off_info{
  0%   {bottom: 0px;}
  100% {bottom: -70px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
  0%   {background:rgba(166,170,169,0);}
  100% {background:rgba(166,170,169,0.8);}
}

/* Standard syntax */
@keyframes fadein{
  0%   {background:rgba(166,170,169,0);}
  100% {background:rgba(166,170,169,0.8);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  0%   {bottom: 50px;}
  50%  {bottom: 0px;}

  100% {bottom: 50px;}
}

/* Standard syntax */
@keyframes mymove {
  0%   {bottom: 50px;}
  50%  {bottom: 0px;}

  100% {bottom: 50px;}
}