/* --------------------------------

      header

-------------------------------- */

#masthead {
  min-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 5px 15px;
  z-index: 9;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #fff;
  box-shadow: 0 1px 3px #999;



  .logo {
    float: right;
    color: #fff;
    font-family: "NexaBold";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.15em;
    line-height: 30px;
    text-transform: uppercase;
    margin: 10px 0 5px;
  }
}