html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  margin: 0;
  padding: 0;



}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: outside none none;
}
q::before, q::after, blockquote::before, blockquote::after {
  content: "";
}
.clearfix{
  clear:both;
}



/* clear outter dotted */
button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: none;
}
a:active {
  outline: none;
  color:#686868;
}
a:focus {
  -moz-outline-style: none;
  outline: none;
  text-decoration: none;
}
a {
  outline: 0;
  color:#686868;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  text-decoration: none;
}
a:hover,
a:focus,
a:active{
  text-decoration:none;
}


/*clear float*/
.clear::before, .clear::after {
  content: "";
  display: table;
}
.clear::after {
  clear: both;
}
.clear {
  zoom:1; /*IE6, IE7*/
}


.clearfix{clear:both}

.tc{text-align: center;}


