@import "reset";
@import "nav";
@import "pace";
@import "font";
@import "header";
@import "slidingmenu";
@import "room";
@import "restaurant";
@import "footer";
@import "wdr_tool";
@import "news";
@import "home_onepage";
@import "travel";
@import "comment";
@import "rwd";
@import "portfolio";

@import "icon";


body{
  overflow-x: hidden;
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: "微軟正黑體",Helvetica Neue,Helvetica,Arial;


  #page{
    opacity: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
  }

  &.pace-done #page{
    opacity: 1;
  }


  .align-right{
    text-align: right;
  }

}


section.inner-section{
  padding:0 !important;
}

